<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>workShop_october</display-name>
  <servlet>
    <servlet-name>shohinList</servlet-name>
    <servlet-class>controller.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shohinList</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLogout</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signUp</servlet-name>
    <servlet-class>controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>detail</servlet-name>
    <servlet-class>controller.DetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>listing</servlet-name>
  	<servlet-class>Controler.ListingController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>listing</servlet-name>
  	<url-pattern>listing</url-pattern>
  </servlet-mapping>
</web-app>