@media(max-width: 767px){
  .wrapper{
    width: 300px;
  }

  #left{
    width: 100px;
  }

  #right-right{
    width: 75px;
  }

  #left-upper, #left-lower{
    width: 125px;
  }

  #bottom{
    width: 200px;
  }
}

@media(max-width: 479px){
  .wrapper{
    width: 150px;
  }

  #left, #right-right, #left-upper, #left-lower, #bottom{
    content: '';
    display: block;
    float: none;
    width: 150px;
  }
}